body{
    background-color: aqua;
}
h1{
    color: blue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    font-size: 100px;

}
p{
    color: brown;
    font-size: 100px;
    font-style: italic;
}